<main>
    <h3 id="titulo-menu">
        <hr>
            Esqueci Senha 
        <hr>
    </h3>

    <div id="espaco-esqueci">
        <div id="esqueci-senha">
            <h4>Esqueci a minha senha</h4><br/>
            <form>
                <label>Digite o seu e-mail cadastrado:</label>
                <input id="email" type="email" class="form-control" name="Email" placeholder="Digite o seu email">
                <label></label><br/>
                <button type="button" class="btn btn-secondary" >Enviar</button>               
            </form>
        </div>
    </div>
    
</main>
