img {
  object-fit: cover;
}

.card img {
  height: 292px;
  object-fit: fill;
}

.card-title {
  background-color: #FBC572;
  font-weight: 600;
  border-radius: 7px;
  padding: 0 5px;
}

.card-2 {
  margin: 0 0 0 7px;
  background-color: #C4C4C4;
}

.card-text{
  font-weight: 300;
}

.card-body .preco {
  display: flex;
  align-items: start;
  font-size: 25px;
  font-weight: 600;
  float: left;
}

.card-body .peso {
  margin-left: 220px;
  color: #C4C4C4;
  font-size: medium;
  font-weight: 600;
}

.button-card {
  width: 100%;
  background-color: #000000;
  border-radius: 0 0 7px 7px;
  border: 1px solid #000;
  font-weight: 600;
  color: #FDCE0C;
  padding: 10px 10px 10px 25px;
  margin:-50px 0 25px 0;
  display: none;
}

.button-show:hover .button-card{
  display: block;
  border: 1px solid#000;
}

.card:hover{
  border-radius: 7px 7px 0  0;
}

.button-card a {
  color: #FDCE0C;
  text-decoration: none;
}

.button-show a{
  text-decoration: none;
}

.card-text{
  text-align: justify;
}

.card {
 height: 467px;
}

.card-body {
  margin-bottom: 5px;
}

.space-card{
  margin-bottom: 150px;
  border: 1px solid red;
}

@media (max-width: 992px) {
  .card-body .peso {
    margin-left: 150px;
    font-size: medium;
  }

  .button-card{
    display: block;
  }

  .card {
    border-radius: 7px 7px 0  0;
  }
}





