<main>
  <div class="espaco-login d-flex">
    <div class="entrar row col-sm-12 col-md-4">
      <h4 class="text-center">Login</h4>
      <br />
      <form>
        <label for="email">E-mail</label>
        <input
          type="email"
          class="form-control email"
          name="Email"
          placeholder="Digite o seu email"
        /><br />

        <label>Senha</label>
        <input
          class="senha"
          type="password"
          class="form-control"
          placeholder="Digite sua senha"
        />

          <button
            id="btn-entrar"
            type="button"
            class="w-100"
           >Entrar</button
          ><br>
          <a href="recuperarsenha"><span class="btn w-100 recuperar-senha">
            Esqueci minha senha
          </span></a>
      </form>
      <a href="cadastrar">
        <button type="button" class="btn btn-light mb-3 w-100">
          Ainda não tenho cadastro
        </button>
      </a>
    </div>
    <div class="row imagem">
      <img src="assets/img/marmita.png" alt="marmita">
    </div>
  </div>
</main>


