<main>
    <h3 id="titulo-menu">
        Login
        <hr>
    </h3>
    <div id="espaco-login">
        <div id="entrar">
            <h4>Entrar</h4><br>
            <form>
                <label>E-mail</label>
                <input id="email" type="email" class="form-control" name="Email" placeholder="Digite o seu email"><br>
                <label>Senha</label>
                <input id="senha" type="password" class="form-control" placeholder="Digite sua senha">
                <p>Esqueci minha senha, <a href="recuperarsenha" >clique aqui  </a>  </p>
                <label></label><br>
                <button type="button" class="btn btn-secondary" >Entrar</button><br>
            </form>
        </div>
        <div id="cadastrar">
            <form>
                <h4>Ainda não tenho cadastro</h4><br> 
                <a href="cadastrar"><button type="button" class="btn btn-secondary">Clique aqui para se cadastrar</button></a><br>
            </form>
        </div>
    </div>
</main>