<div>
  <h3 id="titulo-menu">
      Cadastro
  </h3>
  <div id="espaco-cadastro">
      <div id="cadastro-cadastrar">
          <h4>Realize o seu cadastro</h4><br/>
          <form>
              <label>Nome:</label>
              <input id="nome" type="text" class="form-control" placeholder="Digite seu nome"><br>
              <label>E-mail:</label>
              <input id="email" type="email" class="form-control" name="Email" placeholder="Digite o seu email"><br>
              <label>CPF</label>
              <input id="cpf" type="text" class="form-control" placeholder="Digite seu CPF"><br>
              <label>Senha:</label>
              <input id="senha1" type="password" class="form-control" placeholder="Crie uma senha"><br>
              <label>Confirmação de senha</label>
              <input id="senha2" type="password" class="form-control" placeholder="Confirme sua senha"><br>
              <label></label>
              <button type="button" class="btn btn-secondary" onclick="cadastro();">Confirmar</button>
          </form>
      </div>
  </div>
</div>


