<main>
    <div id="espaco-cesta">
        <h3>CESTA</h3>
        <table class="table">
            <thead>
                <tr>
                    <th>Item</th>
                    <th>QTD</th>
                    <th>Valor</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Produto 1</td>
                    <td>1x</td>
                    <td>R$: 99,99</td>
                </tr>
                <tr>
                    <td>Produto 2</td>
                    <td>2x</td>
                    <td>R$: 144,40</td>
                    
                </tr>
                <tr>
                    <td>Produto 3</td>
                    <td>1x</td>
                    <td>R$: 87,99</td>
                </tr>
            </tbody>
            <tbody>
                <tr>
                    <td>Total</td>
                    <td></td>
                    <td>R$: 332,38</td>
                </tr>
            </tbody>
            <tbody>
                <tr></tr>
            </tbody>
        </table>

        <div id="cesta-butoes">
            <button type="button" class="btn btn-outline-secondary"title="Limpar os itens da cesta">LIMPAR CESTA</button>
            <button type="button" class="btn btn-secondary" title="Finalizar compra" onclick="finalizar();">FINALIZAR</button>
        </div>

    </div>
    
</main>