<main>
  <div class="espaco-cesta">
      <h5>Carrinho</h5>
      <table class="table">
          <thead  class="table-header mb-5">
              <tr>
                  <th>Produto</th>
                  <th class="descricao">Descrição</th>
                  <th>Preço Unitário</th>
                  <th>Qtd</th>
                  <th class="total">Total</th>
                  <th>Excluir</th>
              </tr>
          </thead>
          <tr>
            <td><span class="espaco"></span></td>
          </tr>
          <tbody class="table-body">
              <tr class="item">
                  <td class="table-body-td"><img src="assets/img/marmita_1.png" alt="imagem">
                  <td class="table-body-td-descricao"><p>Frango desfiado com risoto de abóbora</p></td>
                  <td class="table-body-td-preco-unitario"></td>
                  <td class="table-body-td-qtd"><i class="bi bi-dash-circle text-danger me-2"></i><i class="bi bi-plus-circle text-success ms-2"></i></td>
                  <td class="table-body-td-total"></td>
                  <td class="table-body-td-excluir"><i class="bi bi-x-circle" ></i>
                  </td>
              </tr>
              <tr>
                <td><span class="espaco"></span></td>
              </tr>
          </tbody>
      </table>
      <div class="valor-total">
          <p class="total">Valor Total</p>
          <p class="valor">R$ </p>
      </div>
      <div class="carrinho-butoes">
          <button type="button" class="button-card-limpar"title="Limpar os itens da cesta">LIMPAR CESTA</button>
          <button type="button" class="button-card-finalizar" title="Finalizar compra">FINALIZAR</button>
      </div>

  </div>

</main>
