<main>
  <section>
    <h4>Sobre a FitFood</h4>
    <p>
      Há alguns anos, alguns amigos se reuniram para discutir uma questão que todos enfrentavam: a dificuldade em manter uma dieta saudável e balanceada em meio à correria do dia a dia. Com agendas lotadas e pouco tempo para cozinhar, muitas vezes acabavam recorrendo a opções menos saudáveis e práticas, como fast-food e comida congelada.</p>

    <p>Foi então que eles decidiram criar a FitFood, uma plataforma de comida fit que oferece refeições saudáveis e saborosas, prontas para consumir. Com a ajuda de nutricionistas e chefs renomados, desenvolveram um cardápio completo e variado, com opções para todos os gostos e necessidades.</p>

    <p>Além disso, a FitFood se preocupa com a qualidade dos ingredientes, usando apenas alimentos frescos e orgânicos sempre que possível. E para garantir que as refeições cheguem até os clientes com toda a qualidade e sabor, as embalagens são cuidadosamente planejadas e refrigeradas.</p>

    <p>Com a FitFood, é possível manter uma alimentação saudável e equilibrada sem abrir mão da praticidade. Basta escolher as refeições desejadas no site ou aplicativo, fazer o pedido e esperar a entrega em casa ou no trabalho. E o melhor: tudo isso por um preço justo e acessível.</p>
    <!-- <p>
      Bem-vindo à FitFood, a plataforma de comida fit que vai transformar a sua rotina alimentar! Nós sabemos que manter uma dieta saudável e balanceada pode ser desafiador em meio à correria do dia a dia, mas acreditamos que isso não precisa ser uma dor de cabeça.
    </p>
    <p>
      Com a FitFood, você pode contar com refeições deliciosas e nutritivas, desenvolvidas por nutricionistas e chefs renomados. E o melhor de tudo: sem precisar sair de casa ou passar horas na cozinha!
    </p>
    <p>
      Nós usamos apenas ingredientes frescos e orgânicos sempre que possível, e nossas embalagens são cuidadosamente planejadas para garantir que as refeições cheguem até você com toda a qualidade e sabor.
    </p>
    <p>
      E o mais importante: a FitFood é para todos. Não importa se você é vegetariano, vegano, intolerante a lactose ou glúten, ou simplesmente quer se alimentar melhor. Temos opções para todos os gostos e necessidades.
    </p>
    <p>
      Experimente agora mesmo a FitFood e descubra como é fácil e gostoso manter uma dieta saudável. Peça pelo nosso site ou aplicativo e deixe a comida fit cuidar de você!
    </p> -->

  </section>
</main>
